:root{
  --text-font:'Montserrat', sans-serif;
  --titles-font:'Rubik', sans-serif;
  /*Colors depending on the pokemon type*/
  --bug: #3ca151;
  --dark-bug: #1f4d27;
  --bug-aura: #b7ffc3;

  --dark: #5b597e;
  --dark-dark: #000203;
  --dark-aura: #ba75ff;

  --dragon: #63d5e9;
  --dark-dragon: #45919e;
  --dragon-aura:#00ffdd;
  
  --electric:#f1c748 ;
  --dark-electric: #ddb94b;
  --electric-aura: #ffecb1;

  --fairy: #f91069;
  --dark-fairy: #a01743;
  --fairy-aura: #ffc1d9;

  --fighting: #f96736;
  --dark-fighting: #a34128;
  --fighting-aura: #ffbba4;

  --fire: #fd4b5b;
  --dark-fire: #bb1b1e;
  --fire-aura: #ff8c00;

  --flying: #9bb9d3;
  --dark-flying: #4c6c81;
  --flying-aura: #794cff;

  --ghost: #936896;
  --dark-ghost: #32326f;
  --ghost-aura: #ff00ff;

  --ground: #b0742c;
  --dark-ground: #6e4d20;
  --ground-aura: #e98007;

  --ice: #86d8fe;
  --dark-ice: #2fbdff;
  --ice-aura: #02659e;

  --normal: #d59cab;
  --dark-normal: #75565c;
  --normal-aura: #ff2b64;

  --psychic: #ff1794;
  --dark-psychic: #a42d6f;
  --psychic-aura: #f046ff;

  --rock: #903f21;
  --dark-rock: #4a190a;
  --rock-aura: #f89635;

  --steel: #3eca9b;
  --dark-steel: #5e7e71;
  --steel-aura: #00fff7;

  --water: #83a9fe;
  --dark-water: #1253eb;
  --water-aura: #6c00fa;

  --grass: #26d650;
  --dark-grass: #14803e;
  --grass-aura: #b5f3c8;

  --poison: #a068e6;
  --dark-poison:#612b8d;
  --poison-aura:#ef14d2;

  --text-color: #2f2e2e;
  --light-text-color: rgba(255, 255, 255, 0.976);
  --bars-background: #a3a3a3;
   /*Current colors, these will change*/
  --current: white;
  --current-dark: transparent;
  --current-aura: transparent;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body{
  font-family: var(--text-font);
  color: var(--text-color);
  font-weight: 500;
  overflow-x: hidden;
}

.pokemon-section{
  width: 100vw;
  font-size: 1.8rem;
}

.pokemon-section__back{
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--light-text-color);
  cursor: pointer;
}

.pokemon{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pokemon__info{
  /* width: min(100%,540px); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--current);
  border-radius: 0px 90px 0px 90px;
  position: relative;
  color: var(--light-text-color);
}

.pokemon__name{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.pokemon__next-img-btn{
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(20, 20, 20, 0.3);
  color: var(--light-text-color);
  cursor: pointer;
}
.pokemon__next-img-btn:hover{
  background-color: rgba(20, 20, 20, 0.57);
}

.pokemon__info .pokemon__pokeball{
  width: 250px;
  position: absolute;
  opacity: 0.1;
  right: calc(25% - 125px);
  bottom: calc(50% - 100px);
}

.pokemon__info img{
  width: 250px;
  height: 250px;
  z-index: 1;
  filter: drop-shadow(0 -6mm 4mm var(--current-aura));
}

.pokemon__info h1{
  font-family: var(--titles-font);
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.pokemon__info h1.pokemon__id{
  margin-top: 35px;
  margin-bottom: 0;
}

.pokemon__info span{
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 2px solid var(--light-text-color);
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: var(--current-dark);  
}

.pokemon__info span:last-child{
  background-color: var(--poison);
}

.pokemon__info--specific{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon__about{
  width: min(100%,475px);
  margin-top: 20px;
  padding: 0 30px;
}
.pokemon__about h2{
  text-align: center;
  margin-bottom: 10px;
}
.pokemon__about p{
  text-align: justify;
  margin-bottom: 20px;
}

.pokemon__about div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  margin: 20px 0;
}
.pokemon__about div span{
  font-size: 2rem;
}
.pokemon__about div span:nth-child(1), .pokemon__about div span:nth-child(2){
  font-size: 2.2rem;
  font-weight: 700;
}

.pokemon__stats{
  width: min(100%,475px);
  padding: 0 20px;
}

.pokemon__stats h2{
  text-align: center;
  margin-bottom: 20px;
}
.pokemon__stat{
  display: grid;
  grid-template-columns:repeat(2,1fr) 2fr;
  align-items: center;
}
.pokemon__stat span:first-child{
  font-weight: 700;
}
.pokemon__stat span:nth-child(2){
  justify-self: center;
}
.pokemon__stat-bar{
  width: 170px;
  height: 8px;
  border-radius: 20px;
  background-color: var(--bars-background);
  box-shadow: 16px 5px 4px -4px rgba(0,0,0,0.75);
}

.pokemon__stat-bar div{
  max-width: 190px;
  height: 100%;
  border-radius: 20px;
  background-color: var(--current);
}

.pokemon__nav{
  width: min(100%,475px);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.pokemon__nav button{
  width: 150px;
  height: 35px;
  margin: 20px;
  font-size: var(--titles-font);
  font-size: 2rem;
  border-radius: 20px;
  background-color: var(--current);
  border: 2px solid var(--current-dark);
  color: var(--light-text-color);
  cursor: pointer;
}

.pokemon__info--specific .pokemon__nav button:hover{
  background-color: var(--current-dark);
}

/*Main*/
.pokemon-list{
  width:100vw ;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 20px;
  place-items: center;
  color: var(--light-text-color);
  margin-top: 50px;
  padding: 20px 40px 20px 20px;
  
}

.pokemon-card{
  width: 300px;
  height: 180px;
  background-color: var(--current);
  padding: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 7px 7px 8px 0px rgba(0,0,0,0.75);
  
}
.pokemon-card img:first-child{
  width: 120px;
  position: absolute;
  left: calc(60% - 10px);
  top: calc(30% - 50px);
  opacity: 0.2;
}
.pokemon-card h1{
  font-family: var(--titles-font);
  font-size: 2rem;
  margin-bottom: 10px;
  
}
.pokemon-card .pokemon-card__go-details{
  width: 100%;
  display: flex;
}
.pokemon-card .pokemon-card__go-details div{
  display: flex;
  flex-direction: column;
}
.pokemon-card__go-details div span{
  width: 90px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: 2px solid var(--light-text-color);
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: var(--current-dark); 
}
.pokemon-card__go-details div button{
  height: 27px;
  font-family: var(--text-font);
  font-size: 1.6rem;
  border-radius: 20px;
  border: 3px solid var(--current-dark);
  background-color: var(--light-text-color);
  color: var(--text-color);
  cursor: pointer;
}
.pokemon-card__go-details div button:hover{
  background-color: transparent;
  color: var(--light-text-color) !important;
}

.pokemon-card .pokemon-card__go-details img{
  width: 120px;
  height: 120px;
  z-index: 1;
  filter: drop-shadow(0 -6mm 4mm var(--current-aura))
}


/* Tablet */
@media (min-height:1000px){
  .pokemon-section{
    height: 100vh;
  }
  .pokemon__info--specific{
    margin-top: 8%;
  }
  
}

/*Desktop*/
@media (min-width:1000px) {
  .pokemon-section{
    height: 100vh;
  }
  .pokemon{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
  }
  .pokemon__info{
    width: 80%;
  }
}